p {
  font-family: Monospace;
  text-align: center;
  font-size: 11px;
  border: solid blue 10px;
  padding: 20px;
}



.header {
 background-image: url("https://cdn.shopify.com/s/files/1/0306/6419/6141/articles/coding_languages_1000x.png?v=1619126283");
 background-color: #cccccc;
 max-width: 100%; 
 max-height: 100%;
}


h1 {
  font-family: fantasy;
  font-size: 100px;
  position: relative;
  text-align: center;
  color: yellow;
  border-style: 2px solid yellow;
}
